/* Color Variables */
$color--white: #ffffff;
$color--gray: #d0d0d0;
$color--black: hsl(0, 0%, 0%);
$color--purple-strong: rgb(56, 33, 89);
$color--purple-medium: rgb(131, 81, 242);
$color--purple-light: rgb(159, 121, 242);
$color--purple-light-40: rgba(159, 121, 242, 0.4);
$color--pink: rgb(190, 68, 241);
$color--gooey-color: rgb(131, 81, 242);
$color--cursor-color: $color--gooey-color;

/* Scale Spacing */
$spacing-small: 0.5rem;
$spacing-base: 1rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem;

/* Font Sizes */
$font-size-small: 0.8rem; // 12.8
$font-size-medium: 1rem; // 16px
$font-size-body: 1.25rem; // 20px
$font-size-body-lg: 1.5rem; // 24px
$font-size-h3: 2rem; // 32px
$font-size-h2: 2.25rem; // 36px
$font-size-h1: 3rem; // 48px

/* Font Weights */
$bold: 700;
$regular: 400;
$light: 300;

/* Line Heights */
$height-tight: 1.2;
$height-regular: 1.5;
$height-loose: 1.8;

// Letter Spacing
$letter-spacing-tight: 0.1rem;
$letter-spacing-small: 0.5rem;
$letter-spacing-loose: 1rem;
