@use "../var" as *;
@use "../mixins" as mixins;

.site-header {
  @include mixins.flex-center;
  @include mixins.border-radius(1.5rem);
  @include mixins.border--purple;
  padding: $spacing-xlarge; // 2rem
  justify-content: space-between;
}

.site-header__toggle {
  display: none;
}

.site-header__nav {
  display: flex;
  gap: calc($spacing-large * 2); // 3rem
}

.site-header__link {
  text-decoration: none;
  color: $color--white;
  font-size: $font-size-body;
  font-weight: $bold;
}

.site-header__link:hover {
  color: $color--gray;
}

.site-header__logo {
  max-width: 9rem;
  width: 100%;
  height: auto;
}

.btn--contact--mobile {
  display: none;
  max-width: 10rem;
}
