@use "../var" as *;
@use "../mixins" as mixins;

.team {
  @include mixins.flex-center;
  flex-direction: column;
  padding: calc($spacing-base * 5) $spacing-xlarge;
}

.team__title {
  font-size: $font-size-h2;
  letter-spacing: $letter-spacing-small;
  margin-bottom: 0.5rem;
}

.team__text {
  font-size: $font-size-body-lg;
  line-height: $height-regular;
  font-weight: $light;
  max-width: min(45ch, 50%);
  margin-bottom: 3rem;
  text-align: center;
}

.team__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $spacing-base;
}

.team__card {
  @include mixins.border-radius;
  position: relative;
  overflow: hidden;
}

.team__card--img {
  @include mixins.transition($dur: 700ms);
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1) contrast(60%) brightness(50%);
}

.team__card--img:hover {
  filter: grayscale(0) contrast(100%) brightness(100%);
}

.team__card-small {
  grid-column: span 1;
}

.team__card-large {
  grid-column: span 2;
}

.team__card-extralarge {
  grid-column: span 3;
}

.team__name,
.team__role,
.team__name-project,
.team__brand {
  @include mixins.text-shadow($shadowX: 0, $shadowY: 1px, $blur: 2px, $color: rgba(0, 0, 0, 0.6));
  -webkit-text-stroke: 0.25px rgba(0, 0, 0, 0.08);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: absolute;
  left: 1rem;
}

.team__name {
  color: $color--purple-light;
  font-size: $font-size-medium;
  font-weight: $bold;
  bottom: 2.2rem;
}

.team__role {
  font-size: $font-size-small;
  font-weight: $light;
  bottom: 1rem;
}

.team__name-project {
  font-size: $font-size-small;
  font-weight: $bold;
  top: 1.3rem;
  left: 1.3rem;
}

.team__brand {
  @include mixins.text-shadow;
  font-size: $font-size-medium;
  line-height: $height-regular;
  max-width: 30ch;
  bottom: 1.3rem;
  left: 1.3rem;
}

.team__btn {
  @include mixins.flex-center;
  @include mixins.border-radius(50%);
  @include mixins.border--light($width: 0.5px);
  font-size: $font-size-small;
  font-weight: $bold;
  background: $color--purple-light;
  color: $color--white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(70%);
}

.team__btn:hover {
  @include mixins.btn-base--sm-hover;
}

.team__cta--btn {
  margin-top: 3rem;
}
